  <title>Games#new</title>

  <div class="container d-flex justify-content-center align-items-center vh-100 flex-column">
    <div class="text-center mb-3">
      <h1>Games#new</h1>
      <p>Find me in app/views/games/new.html.erb</p>
    </div>
    <div class="card-deck mt-3">
      <div class="d-flex flex-wrap justify-content-center">
        <% @letters.each do |letter| %>
          <div class="card mb-3 mx-1 bg-primary text-white shadow h-100" style="width: 50px;">
            <div class="card-body text-center">
              <%= letter %>
            </div>
          </div>
        <% end %>
      </div>
        <form action="/score" data-turbo="false" method="post">
          <div class="d-flex justify-content-center align-items-center">
            <input type="text" class="form-control" name="score" placeholder="C'mon chief, give me a mission">
            <button type="submit" value="Give!" class="btn btn-primary m-1">Give!</button>
          </div>
          <%# required for the POST method to work %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %><%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%# Required to access @letters in def new method as they have been posted %>
          <%= hidden_field_tag :letters, @letters %>
        </form>
      </div>
  </div>
