
  <title>Games#Score</title>



  <div class="container d-flex justify-content-center align-items-center vh-100 flex-column">
    <div class="text-center mb-3">
      <h1>Games#score</h1>
      <p>Find me in app/views/games/score.html.erb</p>
      <%= @user_answer %>
    </div>
  </div>
